/* 
    button-start
*/


.cx-offcanvas-btn-1 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: var(--cx-clr-pr-1);
    color: #fff;
    justify-content: center;
    align-items: center;
}


.cx-offcanvas-btn-2 {
    width: 84px;
    height: 84px;
    background: var(--cx-clr-pr-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.64);

    span {
        width: 22px;
        height: 2px;
        background: #fff;
        border-radius: 4px;
        transition: 0.5s var(--cx-cube-1);

        &:nth-child(1) {
            width: 14px;
            transform: translateX(4px);
        }

        &:nth-child(3) {
            width: 14px;
            transform: translateX(-4px);
        }
    }

    &:hover {
        span {
            &:nth-child(1) {
                width: 22px;
                transform: translateX(0px);
            }
    
            &:nth-child(3) {
                width: 22px;
                transform: translateX(-0px);
            }
        }
    }
}


.cx-pr-btn-1 {
    font-family: var(--cx-font-2);
    font-size: 17px;
    line-height: 1.3;
    font-weight: 600;
    background-color: var(--cx-clr-sd-1);
    padding: 17px 32px;
    border-radius: 16px;
    transition: .5s var(--cx-cube-1);


    .text {
        overflow: hidden;
        display: block;
    }

    &:hover {
        color: #fff;
        background-color: var(--cx-clr-pr-1);
    }


    &:is(.has-v2) {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        padding: 16px 27px;
        background-color: var(--cx-clr-pr-1);
        color: #fff;

        &:hover {
            color: #000;
            background-color: var(--cx-clr-sd-1);
        }
    }
}



.cx-play-btn-1 {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--cx-clr-pr-1);
    position: relative;
    z-index: 1;
    transition: .5s var(--cx-cube-1);

    &:hover {
        background-color: var(--cx-clr-pr-1);
        color: var(--cx-clr-sd-1);
    }


    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid #fff;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: cx-play-btn-1 8s linear infinite;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid #fff;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: cx-play-btn-1 8s linear infinite;
        animation-delay: 4s;
    }
}

@keyframes cx-play-btn-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* 
    button-end
*/