/* 
    breadcrumb-start
*/

.cx-breadcrumb {
    &-area {
        background-color: #002111;
        padding-top: 240px;

        @media #{$xs} {
            padding-top: 100px;
        }

        @media #{$sm} {
            padding-top: 150px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(90deg, #002111 20%, transparent 70%);
        }
    }


    &-wrap {
        display: flex;
        flex-direction: column;
        gap: 180px;

        @media #{$xs} {
            gap: 80px;
        }

        @media #{$sm} {
            gap: 130px;
        }
    }


    &-title {
        font-family: var(--cx-font-2);
        font-size: 64px;
        line-height: 1.058;
        color: #fff;
        font-weight: 700;
        margin-bottom: 0px;

    
        @media #{$xxl} {
            font-size: 60px;
        }
    
        @media #{$xl} {
            font-size: 55px;
        }
    
        @media #{$lg} {
            font-size: 50px;
        }
    
        @media #{$md} {
            font-size: 45px;
        }
    
        @media #{$xs} {
            font-size: 35px;
        }
    
        @media #{$sm} {
            font-size: 40px;
        }

    }

    &-list {
        display: flex;
        align-items: center;
        align-self: start;
        background: #fff;
        backdrop-filter: blur(6px);
        border-radius: 12px 12px 0 0;
        padding: 19px 28px;
        position: relative;
        z-index: 1;


        & a,& span {
            font-size: 18px;
            font-family: var(--cx-font-2);
            font-weight: 400;
            line-height: 1;
            color: #000;
            text-decoration: none;
            display: inline-block;
        }

        & a {
            padding-right: 26px;
            position: relative;
            transition: 300ms;
            margin-right: 9px;

            &:hover {
                color: var(--cx-clr-pr-1);
            }

            &::after {
                content: "";
                position: absolute;
                background-image: url(../img/breadcrumb/up-arrow.svg);
                width: 17px;
                height: 19px;
                right: 0px;
                top: 8px;
                transform: translateY(-50%);
                font-size: 20px;
            }
        }
        & span {
            opacity: 60%;
        }

    }


}


/* 
    breadcrumb-end
*/

/* 
    error-start
*/
.cx-error-page {
    &-area {
    }

    &-wrap {
        display: grid;
        align-items: center;
        gap: 10px;
        grid-template-columns: 1fr 2fr;

        @media #{$xl,$lg,$md} {
            grid-template-columns: 1fr 1.7fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &-content {
        .subtitle {
            font-family: var(--cx-font-2);
            color: #101010;
            font-weight: 400;
            font-size: 80px;
            margin-bottom: 10px;
            opacity: 50%;
            @media #{$lg,$md,$xs} {
                font-size: 40px;
            }
        }

        .title {
            font-family: var(--cx-font-2);
            color: var(--cx-clr-pr-1);
            font-size: 92px;
            font-weight: 700;
            margin-bottom: 18px;
            
            @media #{$lg,$md,$xs} {
                font-size: 60px;
            }
        }

        .disc {
            font-size: 20px;
            font-weight: 400;
            font-family: var(--cx-font-1);
            margin-bottom: 32px;
            color: #4C504E;
        }

        .st-pr-btn-3 {
            background-color: var(--st-clr-h-2);

            &::after {
                background: var(--st-clr-pr-1);
            }

            &:hover {
                color: #fff;
                .icon-elm svg path {
                    fill: #fff;
                }
            }

        }
    }
}


/* 
    error-end
*/