/* 
    contact-1-start
*/
.cx-contact-1 {
    &-area {
        padding-top: 200px;
        padding-bottom: 205px;

        &::after {
            content: "";
            width: 100%;
            height: 500px;
            background: linear-gradient(180deg, #F3FDF4, transparent);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
    }


    &-bg {
        position: absolute;
        left: 42px;
        top: 0;
        width: calc(100% - 84px);
        height: 100%;
        z-index: -1;
        mask-size: 100% 100%;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            width: calc(100% - 16px);
            left: 8px;
        }
    }


    &-wrap {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1.1fr 1fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;   
        }
    }
    
    &-left {
        background-color: #fff;
        border-radius: 24px 0 0 24px;
        padding: 64px 64px;

        @media #{$xl,$lg} {
            padding: 64px 24px;
        }

        @media #{$md,$xs} {
            padding: 64px 24px;
            border-radius: 24px;
        }

        &-content {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 28px;
            justify-content: space-between;
            flex-wrap: wrap;


            .disc {
                font-size: 15px;
            }

            .phone-btn {
                font-size: 18px;
                display: flex;
                align-items: center;
                flex: 0 0 auto;
                gap: 8px;
                transition: .5s var(--cx-cube-1);
                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFEFAA;
                    border-radius: 50%;
                    transition: .5s var(--cx-cube-1);
                }

                &:hover {
                    color: var(--cx-clr-pr-1);
                    .icon {
                        background-color: var(--cx-clr-pr-1);
                    }
                }

            }
        }
    }

    &-sec-title {
        .cx-subtitle-1 {
            margin-bottom: 15px;
        }
        .cx-sec-title-1 {
            font-size: 40px;

            @media #{$md} {
                font-size: 38px;
            }
        
            @media #{$xs} {
                font-size: 30px;
            }
        
            @media #{$sm} {
                font-size: 34px;
            }
        }
    }

    &-form {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-input {
            height: 56px;
            border-radius: 8px;
            border: 1px solid rgb(1 17 9 / 16%);
            padding: 0 24px;
            width: 100%;
            font-size: 16px;
            color: rgb(76 80 78 / 72%);

            &:is(textarea) {
                height: 132px;
                padding-top: 10px;
                display: block;
            }
        }

        .nice-select {
            height: 56px;
            display: flex;
            align-items: center;
            width: 100%;
            font-family: var(--cx-font-1);
            font-weight: 400;
            font-size: 16px;
            color: var(--cx-clr-h-1);

            &:after {
                height: 10px;
                margin-top: -7px;
                right: 28px;
                width: 10px;
            }
        }

        .cx-pr-btn-1 {
            background: var(--cx-clr-pr-1);
            color: #fff;
            display: flex;
            gap: 10px;
            border-radius: 12px;

            &:hover {
                background-color: var(--cx-clr-sd-1);
                color: #000;
            }
        }

        .item-box {
            &:is(.has-full-width) {
                grid-column-start: 1;
                grid-column-end: -1;
            }
        }
    }

    &-right {
        outline: 20px solid #fff;
        border-radius: 0 8px 8px 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;

        @media #{$md,$xs} {
            display: none;
        }

        &::before {
            top: 0;
            left: -1px;
            width: 12px;
            content: "";
            height: 12px;
            position: absolute;
            background-color: #FFFFFF;
            clip-path: polygon(0% 100%, 0% 100%, 21.808% 95.746%, 40.357% 88.738%, 55.873% 79.531%, 68.584% 68.677%, 78.716% 56.731%, 86.497% 44.246%, 92.154% 31.777%, 95.914% 19.877%, 98.003% 9.1%, 98.649% 0%, 98.649% 100%, 0% 100%);
            transform: scale(-1);
        }

        &::after {
            bottom: -1px;
            left: -1px;
            width: 12px;
            content: "";
            height: 12px;
            position: absolute;
            background-color: #FFFFFF;
            clip-path: polygon(0% 100%, 0% 100%, 21.808% 95.746%, 40.357% 88.738%, 55.873% 79.531%, 68.584% 68.677%, 78.716% 56.731%, 86.497% 44.246%, 92.154% 31.777%, 95.914% 19.877%, 98.003% 9.1%, 98.649% 0%, 98.649% 100%, 0% 100%);
            transform: scaleX(-1);
            z-index: 1;
        }
    }

}
/* 
    contact-1-end
*/


/* 
    contact-3-start
*/
.cx-contact-3 {
    &-area {
        &::after {
            position: absolute;
            content: "";
            width: 49%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 1;
            background-color: #111F18;
            clip-path: polygon(44% 0%, 100% 0, 100% 100%, 0% 100%);
        }
    }
    &-marquee {
        &-wrap {
            display: flex;
            gap: 24px;
            margin-right: 24px;

            .single-item {
                display: flex;
                align-items: center;
                gap: 24px;
                flex: 0 0 auto;

                .text-elm {
                    font-size: 100px;
                    letter-spacing: -2%;
                    -webkit-text-stroke: 1px #000;
                    -webkit-text-fill-color: transparent;
                    opacity: 20%;
                    line-height: 1.2;
                }

                .icon-elm {
                    img {
                        animation: wa-rotated-minus 10s linear infinite;
                    }
                }
            }
        }
    }

    &-form {
        background: linear-gradient(98.06deg, #F2D805 0%, #EEE250 25.41%, #EBED9A 49.65%, #E8F5D3 75.14%, #E8F5D3 100%);
        border-radius: 12px;
        padding: 72px 72px;

        @media #{$md,$xs} {
            padding: 72px 22px;
        }

        .cx-contact-1-form {
            max-width: 686px;
            gap: 32px;

            &-label {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            &-input {
                border-radius: 100px;
                border: none;

                &:is(textarea) {
                    border-radius: 24px;
                    padding-top: 17px;
                }
            }
        }


        &-img {
            position: absolute;
            right: -180px;
            bottom: 0;
            width: 54%;
            text-align: right;

            @media #{$lg,$md,$xs} {
                position: unset;
                width: 100%;
                margin-bottom: -72px;
            }
        }
    }
    
    &-bg-shape {
        width: 41%;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &-bg {
        &-bubbles-1 {
            position: absolute;
            right: 16%;
            top: 13%;
            z-index: 2;
            width: 7%;
            text-align: center;
        }
        &-bubbles-2 {
            position: absolute;
            right: 7%;
            top: 41%;
            z-index: 2;
            width: 4%;
            text-align: center;
        }
        &-bubbles-3 {
            position: absolute;
            right: 3%;
            top: 5%;
            z-index: 2;
            width: 4%;
            text-align: center;
        }
    }
    
    
}



.cx-contact-3-bg-bubbles-1 {
    animation: bubbleMove1 8s linear infinite alternate;
}

.cx-contact-3-bg-bubbles-2 {
    animation: bubbleMove2 10s linear infinite alternate;
}

.cx-contact-3-bg-bubbles-3 {
    animation: bubbleMove3 12s linear infinite alternate;
}

@keyframes bubbleMove1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(20px, -15px);
    }
    50% {
        transform: translate(-15px, -30px);
    }
    75% {
        transform: translate(-25px, 10px);
    }
    100% {
        transform: translate(15px, 20px);
    }
}

@keyframes bubbleMove2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-20px, 20px);
    }
    50% {
        transform: translate(15px, -25px);
    }
    75% {
        transform: translate(25px, 10px);
    }
    100% {
        transform: translate(-10px, -15px);
    }
}

@keyframes bubbleMove3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(25px, 15px);
    }
    50% {
        transform: translate(-20px, -20px);
    }
    75% {
        transform: translate(15px, -35px);
    }
    100% {
        transform: translate(-15px, 10px);
    }
}

/* 
    contact-3-end
*/