/* 
    footer-1-start
*/
.cx-footer-1 {
    &-area {
        background-color: #011109;
    }

    &-top {
        text-align: center;

        .title {
            font-size: 80px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 40px;
            }
        }

        .link-elm {
            color: var(--cx-clr-pr-1);
            font-size: 64px;
            font-weight: 400;
            position: relative;
            z-index: 1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 30px;
            }

            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: var(--cx-clr-pr-1);
                position: absolute;
                bottom: 3px;
                left: 0;
                transition: .5s var(--cx-cube-1);
            }

            &:hover {
                color: var(--cx-clr-sd-1);
                &::after {
                    width: 0%;
                    background-color: var(--cx-clr-sd-1);
                }
            }
        }
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }

    &-menu {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 11px;

            a {
                color: #fff;
                font-family: var(--cx-font-2);
                font-weight: 500;
                font-size: 18px;
                line-height: 1.5;
                opacity: 80%;
                transition: .5s var(--cx-cube-1);

                &:hover {
                    color: var(--cx-clr-sd-1);
                    opacity: 1;
                }
            }
        }

    }

    &-contact {
        text-align: center;
        max-width: 230px;

        .title {
            color: var(--cx-clr-sd-1);
            font-size: 24px;
            margin-bottom: 18px;
        }

        .link-elm {
            color: #fff;
            opacity: 80%;
            transition: .5s var(--cx-cube-1);

            &:not(:last-child) {
                margin-bottom: 6px;
            }

            a {
                transition: .5s var(--cx-cube-1);
            }

            &:hover {
                opacity: 1;
                a {
                    color: var(--cx-clr-sd-1);
                }
            }
        }
    }
    

    &-bottom {
        border-top: 1px solid rgb(255 255 255 / 24%);
        padding: 23px 0;

        &-text {
            text-align: center;
            color: rgb(255 255 255 / 64%);
            font-size: 16px;

            a {
                color: #fff;
                transition: .5s var(--cx-cube-1);

                &:hover {
                    color: var(--cx-clr-sd-1);
                    opacity: 1;
                }
            }
            
        }
    }


    &-big-title {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        z-index: -1;

        &-text {
            text-align: center;
            font-size: 420px;
            font-weight: 700;
            text-transform: uppercase;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            transition: .5s var(--cx-cube-1);
            line-height: 1;

            @media #{$xxxl} {
                font-size: 340px;
            }

            @media #{$xxl} {
                font-size: 300px;
            }

            @media #{$xl} {
                font-size: 240px;
            }

            @media #{$lg} {
                font-size: 220px;
            }

            @media #{$md} {
                font-size: 160px;
            }

            @media #{$xs} {
                font-size: 60px;
            }

            @media #{$sm} {
                font-size: 120px;
            }
        }
    }
    
    
}


/* 
    footer-1-end
*/

/* 
    footer-2-start
*/
.cx-footer-2 {
    &-area {
        background-color: #000A05;
    }

    &-bg-img {
        position: absolute;
        inset: 0;
        mix-blend-mode: luminosity;
        z-index: -1;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px 65px;
        flex-wrap: wrap;
        align-items: start;
    }
    

    &-widget {
        &:nth-child(1) {
            margin-right: auto;
        }
        &-title {
            font-size: 14px;
            color: var(--cx-clr-sd-1);
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 8%;
            margin-bottom: 18px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 9px;

            li {
                a {
                    font-family: var(--cx-font-1);
                    color: #fff;
                    line-height: 1.5;
                    font-size: 16px;
                    transition: .5s var(--cx-cube-1);

                    &:hover {
                        color: var(--cx-clr-sd-1);
                    }
                }
            }
        }
    }


    &-contact {
        &-number {
            display: flex;
            gap: 16px;
            align-items: center;
            margin-bottom: 40px;

            .icon-elm {
                width: 32px;
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(102.81deg, #00A650 1.35%, #FFC825 85.55%);
                border-radius: 50%;
            }

            .title {
                font-size: 14px;
                color: #fff;

                a {
                    transition: .5s var(--cx-cube-1);
                    &:hover {
                        color: var(--cx-clr-sd-1);
                    }
                }
            }
        }

        &-join {
            font-size: 14px;
            color: #fff;
            transition: 0.5s var(--cx-cube-1);
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                transition: 0.5s var(--cx-cube-1);
                transform: rotate(-45deg);
            }

            &:hover {
                color: var(--cx-clr-sd-1);

                i {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &-social {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .link-elm {
            font-size: 20px;
            color: #fff;
            transition: .5s var(--cx-cube-1);

            &:hover {
                color: var(--cx-clr-sd-1);
            }
        }
    }
    

    &-marquee {
        background-color: #00A650;
        overflow: hidden;
        padding: 18px 0px;

        &-wrap {
            display: flex;
            gap: 15px;

            .text-elm {
                font-size: 96px;
                font-weight: 800;
                letter-spacing: 2%;
                flex: 0 0 auto;


                @media #{$xl} {
                    font-size: 80px;
                }

                @media #{$lg} {
                    font-size: 70px;
                }

                @media #{$md} {
                    font-size: 60px;
                }

                @media #{$xs} {
                    font-size: 40px;
                }

                @media #{$sm} {
                    font-size: 50px;
                }

                span {
                    -webkit-text-stroke: 1px #000;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    &-copyright {
        font-size: 16px;
        color: rgb(255 255 255 / 64%);
        text-align: center;
        padding: 24px 0;

        a {
            color: #fff;
            transition: var(--cx-cube-1);

            &:hover {
                color: var(--cx-clr-sd-1);
            }
        }
    }
    

}




/* 
    footer-2-end
*/

/* 
    footer-3-start
*/
.cx-footer-3 {
    &-area {
        background-color: #000;
        margin: 32px;
        margin-top: 0;
        border-radius: 32px;
        padding-top: 300px;
        position: relative;
        z-index: 1;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin: 10px;
            margin-top: 0;
        }
    }

    &-wrap {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-widget {
        &-title {
            color: #fff;
            font-size: 28px;
            margin-bottom: 32px;
        }


        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            li {
                a {
                    font-family: var(--cx-font-3);
                    color: #EFF0EF;
                    line-height: 1.2;
                    font-size: 18px;
                    font-weight: 400;

                    &:hover {
                        color: var(--cx-clr-sd-1);
                    }
                }
            }
        }
        
    }

    &-content {
        max-width: 286px;
        .footer-logo {
            margin-bottom: 20px;
        }

        .footer-disc {
            color: #EFF0EF;
            margin-bottom: 40px;
        }
    }

    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    
        .link-elm {
            width: 48px;
            height: 48px;
            border: 1px solid #4C504E;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 22px;
            transition: .5s var(--cx-cube-1);

            &:hover {
                background-color: var(--cx-clr-pr-1);
                border-color: transparent;
            }
            
        }
    }
    &-contact {
        max-width: 270px;
    
        .link-elm {
            color: #EFF0EF;

            a {
                transition: .5s var(--cx-cube-1);
                &:hover {
                    color: var(--cx-clr-sd-1);
                }
            }
        }
        
    
        .subtitle {
            color: #fff;
            margin-top: 32px;
            font-size: 24px;
            margin-bottom: 24px;
        }
    
        .btn-elm {
            color: #fff;
            font-weight: 400;
            margin-bottom: 11px;
            opacity: 70%;
            transition: .5s var(--cx-cube-1);

            &:hover {
                color: var(--cx-clr-sd-1);
                opacity: 1;
            }
        }
        
    }

    &-copyright {
        position: relative;
        z-index: 1;
        text-align: center;
        display: inline-block;
        padding: 17px 53px;
    
        &-text {
            color: #000;
    
            a {
                color: var(--cx-clr-pr-1);
                transition: .5s var(--cx-cube-1);

                &:hover {
                    color: var(--cx-clr-sd-1);
                }
            }
        }
    
        .bg-shape {
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
    }
    

    &-big-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        overflow: hidden;
        z-index: -2;

        &-text {
            background: linear-gradient(180deg, rgba(0, 166, 80, 0.21) -4.02%, rgba(0, 166, 80, 0) 102.15%);
            background-clip: text;
            font-size: 400px;
            text-transform: uppercase;
            font-weight: 800;
            line-height: .8;
            -webkit-text-fill-color: transparent;

            @media #{$xxxl} {
                font-size: 340px;
            }

            @media #{$xxl} {
                font-size: 300px;
            }

            @media #{$xl} {
                font-size: 220px;
            }

            @media #{$lg} {
                font-size: 160px;
            }

            @media #{$md} {
                font-size: 220px;
            }

            @media #{$xs} {
                font-size: 50px;
            }

            @media #{$sm} {
                font-size: 150px;
            }
        }
    }
    

    &-vector-1 {
        width: 17%;
        position: absolute;
        bottom: 100%;
        left: 2%;
        z-index: -1;
    }
}


/* 
    footer-3-end
*/