/*
    15. header
*/

/* 
    header-1-start
*/
.cx-header-1 {
    &-container {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        width: 100%;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-bottom: 1px solid #C3CEC5;
        border-left: 1px solid #C3CEC5;

        @media #{$xxl,$xl} {
            max-width: 200px;
        }

        @media #{$lg,$md,$xs} {
            max-width: 200px;
            border-right: 1px solid #C3CEC5;
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 28px;
        border-left: 1px solid #C3CEC5;
        border-bottom: 1px solid #C3CEC5;
        padding-top: 10px;
        padding-bottom: 10px;

        @media #{$xl} {
            justify-content: end;
        }

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-middle {
        width: 100%;

    }
    

    &-contact {
        display: flex;
        gap: 50px;

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }

        .link-elm {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;


            i {
                color: var(--cx-clr-pr-1);
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    top: 3px;
                    right: -26px;
                    background-color: #C3CEC5;
                }
            }
            
        }
        
    }


    &-social {
        display: flex;

        .link-elm {
            font-size: 16px;
            color: #000;
            padding: 0 13px;
            border-left: 1px solid #C3CEC5;
        }
    }
    
    &-menu {
        border-left: 1px solid #C3CEC5;
        border-bottom: 1px solid #C3CEC5;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }


    
    &-action-link {
        width: 100%;
        max-width: 300px;

        
        @media #{$xxl,$xl,$lg,$md,$xs} {
            max-width: 200px;
        }

        .cx-header-1-btn {
            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }
    

    &-btn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: var(--cx-clr-pr-1);
        color: #fff;
        font-size: 20px;
    }
}



.cx-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 50px;

        li {
            
            a {
                position: relative;
                z-index: 1;
                font-family: var(--cx-font-2);
                font-size: 17px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: #000;
                padding: 21px 0;
                display: inline-flex;
                align-items: center;
                transition: .4s var(--cx-cube-1);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 16px;

                    &::before {
                        display: block;
                        content: "\f107";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 13px;
                        right: 0;
                        top: 49%;
                        transform: translateY(-50%);
                        color: var(--cx-clr-pr-1);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--cx-clr-pr-1);
                    opacity: 1;
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 0px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                position: absolute;
                background: #F3FDF4;
                border: 1px solid #C3CEC5;
                border-radius: 0px;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: .4s var(--cx-cube-1);

            
                li {
                    display: block;
                    margin: 0;
                    transition: .4s var(--cx-cube-1);

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                        font-size: 16px;
                        opacity: 1;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                right: 20px;
                            }
                        }
                    }

                    &:hover {
                        background: var(--cx-clr-pr-1);
                        > a {
                            color: #fff;
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/


/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/