/*
    15. header
*/

/* 
    header-1-start
*/
.cx-header-1 {
    &-container {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        width: 100%;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-bottom: 1px solid #C3CEC5;
        border-left: 1px solid #C3CEC5;

        @media #{$xxl,$xl} {
            max-width: 200px;
        }

        @media #{$lg,$md,$xs} {
            max-width: 200px;
            border-right: 1px solid #C3CEC5;
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 28px;
        border-left: 1px solid #C3CEC5;
        border-bottom: 1px solid #C3CEC5;
        padding-top: 10px;
        padding-bottom: 10px;

        @media #{$xl} {
            justify-content: end;
        }

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-middle {
        width: 100%;

    }
    

    &-contact {
        display: flex;
        gap: 50px;

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }

        .link-elm {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;
            transition: .5s var(--cx-cube-1);


            i {
                color: var(--cx-clr-pr-1);
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    top: 3px;
                    right: -26px;
                    background-color: #C3CEC5;
                }
            }

            &:hover {
                color: var(--cx-clr-pr-1);
            }
            
        }
        
    }


    &-social {
        display: flex;

        .link-elm {
            font-size: 16px;
            color: #000;
            padding: 0 13px;
            border-left: 1px solid #C3CEC5;
            transition: .5s var(--cx-cube-1);

            &:hover {
                color: var(--cx-clr-pr-1);
            }

        }
    }
    
    &-menu {
        border-left: 1px solid #C3CEC5;
        border-bottom: 1px solid #C3CEC5;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }


    
    &-action-link {
        width: 100%;
        max-width: 300px;

        
        @media #{$xxl,$xl,$lg,$md,$xs} {
            max-width: 200px;
        }

        .cx-header-1-btn {
            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }
    

    &-btn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: var(--cx-clr-pr-1);
        color: #fff;
        font-size: 20px;
        transition: .5s var(--cx-cube-1);

        &:hover {
            background-color: var(--cx-clr-sd-1);
        }
    }
}



.cx-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 50px;

        li {
            
            a {
                position: relative;
                z-index: 1;
                font-family: var(--cx-font-2);
                font-size: 17px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: #000;
                padding: 21px 0;
                display: inline-flex;
                align-items: center;
                transition: .4s var(--cx-cube-1);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 16px;

                    &::before {
                        display: block;
                        content: "\f107";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 13px;
                        right: 0;
                        top: 49%;
                        transform: translateY(-50%);
                        color: var(--cx-clr-pr-1);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--cx-clr-pr-1);
                    opacity: 1;
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 0px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                position: absolute;
                background: #F3FDF4;
                border: 1px solid #C3CEC5;
                border-radius: 0px;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: .4s var(--cx-cube-1);

            
                li {
                    display: block;
                    margin: 0;
                    transition: .4s var(--cx-cube-1);

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                        font-size: 16px;
                        opacity: 1;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                right: 20px;
                            }
                        }
                    }

                    &:hover {
                        background: var(--cx-clr-pr-1);
                        > a {
                            color: #fff;
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/

/* 
    header-2-start
*/
.cx-header-2 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: rgba(1, 17, 9, 0.26);
        border-bottom: 1px solid rgba(255, 255, 255, 0.64);
        backdrop-filter: blur(6px);

    }

    &-logo {
        width: 100%;
        max-width: 84px;
        height: 84px;
        background-color: var(--cx-clr-pr-1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.64);
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media #{$lg,$md,$xs} {
            justify-content: end;
        }

        .cx-header-2-support {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }
    }

    &-support {
        display: flex;
        align-items: center;
        gap: 12px;

        .icon-elm {
            width: 48px;
            height: 48px;
            background-color: var(--cx-clr-sd-1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
        }

        .title {
            color: var(--cx-clr-sd-1);
            font-size: 14px;
            text-align: right;
        }

        .link-elm {
            font-weight: 600;
            color: #fff;
            transition: .5s var(--cx-cube-1);

            &:hover {
                color:  var(--cx-clr-sd-1);
            }
        }

        &:hover {
            .icon-elm {
                animation: bounce2 1s;
            }
        }
    }
    
    
}


.cx-main-navigation {
    &:is(.has-header-2) {
        ul {
            li {
                a {
                    color: #fff;
                    padding: 28px 0;
                }

                &:is(.dropdown) {
                    > a {
                        &::before {
                            top: 50%;
                            color: var(--cx-clr-sd-1);
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    > a {
                        color: var(--cx-clr-sd-1);
                    }
                }

                .dropdown-menu {
                    border: none;
                    padding: 10px 0;

                    li {
                        a {
                            color: #000;
                        }

                        &:hover {
                            background-color: var(--cx-clr-sd-1);
                            > a {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* 
    header-2-end
*/
/* 
    header-3-start
*/
.cx-header-3 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-container {
        max-width: 1750px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-top {
        background-color: var(--cx-clr-sd-3);

        &-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$md,$xs} {
                justify-content: center;
            }
        }

        &-social {
            display: flex;



            .link-elm {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s var(--cx-cube-1);


                &:hover {
                    background-color: rgb(255 255 255 / 20%);
                }
            }
        }

        &-contact {
            display: flex;
            gap: 30px;

            @media #{$md,$xs} {
                display: none;
            }

            .link-elm {
                font-size: 16px;
                color: #000;
                display: flex;
                align-items: center;
                gap: 8px;
                transition: .5s var(--cx-cube-1);

                &:hover {
                    color: var(--cx-clr-pr-1);
                }
            }
        }
    }


    &-bottom {
        border-bottom: 1px solid rgb(113 113 113 / 10%);

        @media #{$lg,$md,$xs} {
            padding: 10px 0;
        }

        &-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }
    }

    &-action-link {
        display: flex;
        align-items: center;
        gap: 8px;


        .cx-pr-btn-3 {
            padding: 12px 23px;
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }

        .cx-search-btn-3 {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }
    }

}


.cx-main-navigation {
    &:is(.has-header-3) { 
        .navbar-nav {
            li {
                a {
                    font-family: var(--cx-font-3);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000;
                    padding: 33px 0;
                }

                &:is(.dropdown) {
                    > a {
                        padding-right: 16px;
    
                        &::before {
                            font-size: 14px;
                            color: #000;
                        }
                    }
                }


                .dropdown-menu {
                    background: #f9fffa;
                    border: 1px solid rgba(113, 113, 113, 0.1);
                }
            }
        }
    }

}
/* 
    header-3-end
*/


/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/