/* 
    hero-1-start
*/
.cx-hero-1 {
    &-area {
        z-index: 2;
    }

    &-bg-pattern {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-right: -72px;

        @media #{$xl} {
            margin-right: 0;
        }

        @media #{$lg,$md,$xs} {
            margin-right: 0;
            flex-wrap: wrap;
        }
    }

    &-content {
        width: 100%;
        max-width: 540px;
        margin-top: 170px;

        @media #{$xs} {
            margin-top: 100px;
        }
    }

    &-title {
        font-size: 64px;
        line-height: 1.062;
        font-weight: 700;
        margin-bottom: 21px;

        @media #{$sm} {
            font-size: 50px;
        }

        @media #{$xs} {
            font-size: 40px;
        }
    }

    &-disc {
        margin-bottom: 35px;
    }
 
    &-img {
        pointer-events: none;
    }
}

/* 
    hero-1-end
*/

/* 
    hero-2-start
*/
.cx-hero-2 {
    &-item {
        position: relative;
        z-index: 1;
        padding-top: 210px;
        padding-bottom: 220px;

        @media #{$xs} {
            padding-bottom: 280px;
        }

        @media #{$sm} {
            padding-bottom: 220px;
        }

        &-img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        &-content {
            max-width: 730px;
            width: 100%;
            background-color: #fff;
            border-radius: 24px;
            padding: 72px;

            position: relative;
            z-index: 1;

            @media #{$over} {
                margin-left: -72px;
            }


            @media #{$md,$xs} {
                padding: 40px 20px;
            }

            .title {
                font-size: 60px;
                font-weight: 700;
                line-height: 1.066;
                margin-bottom: 19px;

                span {
                    background: var(--cx-clr-gd-1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    padding-bottom: 3px;
                    margin-bottom: -3px;
                }

                @media #{$lg} {
                    font-size: 50px;
                }

                @media #{$md} {
                    font-size: 45px;
                }

                @media #{$xs} {
                    font-size: 35px;
                }

                @media #{$sm} {
                    font-size: 40px;
                }
                
            }

            .disc {
                margin-bottom: 33px;
            }
            

            .vector-1 {
                width: 32%;
                position: absolute;
                right: -61px;
                bottom: -13px;
            }
        }
        
    }
    

    &-social {
        width: 84px;
        height: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.64);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        @media #{$md,$xs} {
            display: none;
        }

        .link-elm {
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--cx-clr-h-1);
            border-radius: 50%;
            font-size: 16px;
            transition: .5s var(--cx-cube-1);

            &:hover {
                color: var(--cx-clr-pr-1);
                border-color: var(--cx-clr-pr-1);
            }
        }
    }
    

    &-features {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 0 84px;
        border-top: 1px solid rgba(255, 255, 255, 0.64);

        @media #{$xs} {
            padding: 0 24px;
        }

        &-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            @media #{$xs} {
                grid-template-columns: 1fr ;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
            }
        }

        &-box {
            background: rgba(1, 17, 9, 0.28);
            backdrop-filter: blur(9px);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 23px  12px;

            &:not(:last-child) {
                border-right: 1px solid rgba(255, 255, 255, 0.64);
            }
        }

        &-title {
            font-size: 20px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 20px;
            color: #fff;

            @media #{$xs} {
                font-size: 18px;
            }

            i {
                font-size: 34px;
                color: var(--cx-clr-sd-1);
            }

            &:hover {
                i {
                    animation: bounce2 1s;
                }
            }
        }
        
    }
    
    &-pagination {
        position: absolute;
        right: 0;
        top: 0;
        width: 84px;
        height: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.64);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        @media #{$md,$xs} {
            display: none;
        }

        .pagi-text {
            color: #fff;
            opacity: 1;
        }

        .cx_h2_slider_pagination {
            display: inline-flex;
            flex-direction: column;
            width: auto !important;
            background: rgb(255 255 255 / 32%);
            border-radius: 8px;
            height: 244px;

            span {
                margin: 0 !important;
                height: 100%;
                width: 4px;
                border-radius: 8px;
                background-color: transparent;

                &:is(.swiper-pagination-bullet-active) {
                    background-color: var(--cx-clr-pr-1);
                }
            }
        }
    }
    

    &-slider {
        .swiper-wrapper {
            .swiper-slide {
                .cx-hero-2-item-img {
                    img {
                        opacity: 0;
                        transition: 1s;
                    }
                }
                .cx-hero-2-item-content {
                    transform: translateX(100px);
                    transition: 1s var(--cx-cube-1);
                    opacity: 0;
                    transition-delay: 0s;
                }
                &:is(.swiper-slide-active) {
                    .cx-hero-2-item-img {
                        img {
                            opacity: 1;
                            transition-delay: .3s;
                        }
                    }
                    .cx-hero-2-item-content {
                        transform: translateX(0px);
                        opacity: 1;
                        transition-delay: .4s;

                        .title {
                            animation: fadeInRight2 1s backwards;
                            animation-delay: .6s;
                        }

                        .disc {
                            animation: fadeInRight2 1s backwards;
                            animation-delay: .9s;
                        }

                        .btn-elm {
                            animation: fadeInRight2 1s backwards;
                            animation-delay: 1.2s;
                        }
                    }
                }
            }
        }
    }
}
/* 
    hero-2-end
*/