/* 
    price-2-start
*/
.cx-price-2 {
    &-top {
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 36px;
        margin-right: -140px;
        margin-top: -50px;

        @media #{$xs} {
            margin-right: 0px;
            margin-top: 50px;
        }

        .shape-elm {
            transform-origin: top;
            animation: swing 10s linear infinite;
            @media #{$xs} {
                display: none;
            }

    
        }
    }

    &-toggle {
        display: flex;
        position: relative;
        z-index: 1;
        margin-bottom: 18px;

        .nav-link {
            font-size: 20px;
            background: transparent;


            &:nth-child(1) {
                padding-right: 42px;
            }

            &:nth-child(3) {
                padding-left: 42px;
            }


            &:nth-child(1) {
                &:is(.active) {
                    ~ .cx-price-2-toggle-btn::after {
                        left: 6px;
                    }
                }
            }
        }

        &-btn {
            width: 64px;
            height: 36px;
            background: #E1F3E3;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            &::after {
                content: "";
                width: 26px;
                height: 26px;
                background-color: var(--cx-clr-pr-1);
                position: absolute;
                top: 5px;
                left: 32px;
                border-radius: 50%;
                transition: .5s var(--cx-cube-1);
            }
        }
    }

    &-wrap {
        display: grid;
        gap: 25px;
        grid-template-columns: 2fr 1.06fr;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-single {
            background: #EFF0EF;
            border-radius: 20px;
            padding: 40px 40px;
            gap: 32px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow: hidden;
            position: relative;
            z-index: 1;

            @media #{$xl,$lg,$md} {
                flex-direction: column-reverse;
            }

            @media #{$xs} {
                padding: 40px 20px;
                flex-direction: column-reverse;
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(102.81deg, rgba(0, 166, 80, 0.128) 1.35%, rgba(255, 200, 37, 0.32) 85.55%);
                border-radius: 20px;
                z-index: -1;
                transition: .5s var(--cx-cube-1);
                opacity: 0;
            }


            .left-content {
                width: 100%;
                max-width: 290px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                margin-bottom: -40px;
                overflow: hidden;
            }

            .card-btn {
                justify-self: start;
                padding-left: 25px;
                padding-right: 36px;
                padding-top: 10px;
            
                .bg-shape {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -2;
                    width: 100%;
                    height: 100%;
                }
            }


            .card-img {
                max-width: 166px;
                width: 100%;
                height: 260px;
                border-radius: 14px;
                mix-blend-mode: luminosity;
            }

            .plan-name {
                font-size: 15px;
                font-weight: 500;
                background-color: var(--cx-clr-sd-1);
                padding: 8px 16px;
                border-radius: 8px;
                margin-bottom: auto;
            }
            
            .price-elm {
                font-size: 48px;
                font-weight: 700;
                font-style: italic;
                margin-bottom: 7px;

                .time {
                    font-weight: 400;
                    font-size: 18px;
                    font-style: normal;
                    color: var(--cx-clr-p-1);
                }

            }
            
            .plan-disc {
                font-size: 16px;
                margin-bottom: 25px;
            }

            .plan-features {
                display: flex;
                flex-direction: column;
                gap: 18px;
                justify-content: center;

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .left-content-inner {
                transform: translateY(64px);
                transition: .5s var(--cx-cube-1);
            }
            

            &:hover {
                &::after {
                    opacity: 1;
                }
                .left-content-inner {
                    transform: translateY(0px);
                } 
            }
        }
        
    }


    &-contact {
        background-color: #011109;
        padding: 40px;
        border-radius: 20px;

        @media #{$md,$xs} {
            padding: 40px 20px;
        }

        .title {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        .disc {
            color: #fff;
            opacity: 80%;
            margin-bottom: 33px;
        }

        .btn-elm {
            margin-bottom: 108px;
        }

        .img-elm {
            height: 220px;
            border-radius: 16px;
            mix-blend-mode: luminosity;
        }


        .cx-pr-btn-1 {
            background-color: transparent;
            border: 1px solid #fff;
        
            opacity: 72%;

            &:hover {
                opacity: 1;
                border-color: transparent;
            }
        }


    }
    
    

}


/* 
    price-2-end
*/