/* 
    services-1-start
*/
.cx-services-1 {
    &-area {
        &::after {
            content: "";
            width: 100%;
            height: 680px;
            background: linear-gradient(180deg, #FFFAE6 0%, #FFFFFF 100%);
            border-radius: 40px 40px 0px 0px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            max-width: 610px;
        }

        .sec-disc {
            max-width: 480px;
        }
    }
    

    &-card {
        background-color: #E1F3E3;
        padding: 44px 44px;
        padding-top: 56px;
        mask-size: 100% 100%;
        transition: .5s var(--cx-cube-1);

        @media #{$xl,$lg,$md,$xs} {
            padding: 44px 24px;
        }

        .bg-img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            opacity: 0;
            transition: .5s var(--cx-cube-1);
        }
        

        
        .icon-elm {
            margin-bottom: 65px;
            position: relative;
            z-index: 1;
            margin-left: 16px;

            &::after {
                content: "";
                width: 60px;
                height: 60px;
                position: absolute;
                top: -12px;
                left: -16px;
                background-color: #fff;
                border-radius: 50%;
                z-index: -1;
                transition: .5s var(--cx-cube-1);
            }

            img {
                transition: .5s var(--cx-cube-1);
            }
        }
        
        .title-elm {
            margin-bottom: 16px;
            transition: .5s var(--cx-cube-1);
            font-size: 28px;
            
            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }
        
        .disc {
            margin-bottom: 35px;
            transition: .5s var(--cx-cube-1);
        }
        
        .img-x-btn {
            min-height: 112px;
            border-radius: 200px;
            border: 1px solid #003519;
            display: flex;
            align-items: center;
            padding: 0 40px;
            transition: .5s var(--cx-cube-1);

            .img-elm {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0;
                transition: .5s var(--cx-cube-1);
            }


            
        }
        

        
        .btn-elm {
            font-family: var(--cx-font-1);
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            position: relative;
            z-index: 1;
            transition: .5s var(--cx-cube-1);
            width: 100%;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #99B6A2;
                position: absolute;
                top: 13px;
                left: 0;
                z-index: -1;
            }

            .btn-icon {
                width: 52px;
                height: 52px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #99B6A2;
                border-radius: 50%;
                background-color: #E1F3E3;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: .5s var(--cx-cube-1);
            }
            .text-elm {
                transition: .5s var(--cx-cube-1);
                opacity: 0;
            }
        }
        
        &:hover {
            .bg-img {
                opacity: 1;
            }
            .title-elm {
                color: #fff;
            }
            .disc {
                color: #fff;
                opacity: 80%;
            }
            .icon-elm {
                &::after {
                    width: 100px;
                    height: 100px;

                }

                img {
                    transform: scale(.7) translate(2px, 4px);
                }
            } 

            .img-x-btn {
                border-color: transparent;
            }
            .img-elm {
                opacity: 90%;
            }

            .btn-elm {
                .btn-icon {
                    left: calc(100% - 52px);
                    border-color: transparent;
                    background-color: var(--cx-clr-sd-1);
                }
                .text-elm {
                    opacity: 1;
                }

                &::after {
                    opacity: 0;
                }

                &:hover {
                    .text-elm {
                        color: var(--cx-clr-sd-1);
                    }
                }
            }
        }


    }
    &-slider {
        @media #{$over} {
            margin-right: -450px; 
        }

        .swiper-wrapper {
            .swiper-slide {
                max-width: 420px;
            }
        }
    }
}
/* 
    services-1-end
*/
/* 
    services-2-start
*/
.cx-services-2 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        @media #{$xl,$lg,$md,$xs} {
            margin-bottom: 40px;
        }

        .left {
            max-width: 579px;
            width: 100%;
        }

        .right {
            max-width: 510px;
        }

        .sec-disc {
            margin-bottom: 35px;
        }
    }


    &-wrap {
        display: grid;
        gap: 80px;
        grid-template-columns: 1.2fr 1fr;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-img {
        max-width: 460px;
        width: 100%;
        border-radius: 16px;
        height: 540px;
    }


    &-tabs {
        &-pane {
            border: 1px solid #4C504E;
            border-radius: 13px;
            padding: 44px 44px;

            &-box {
                max-width: 390px;
                width: 100%;
                margin-left: auto;
                background-color: var(--cx-clr-h-2);
                border-radius: 13px;
                padding: 10px;
                margin-top: -290px;
                position: relative;
                z-index: 1;
            }

            &-single {
                .icon-elm {
                    color: var(--cx-clr-sd-1);
                    font-size: 68px;
                    margin-bottom: 35px;
                }

                .disc {
                    color: #fff;
                    margin-bottom: 25px;
                }

                .btn-elm {
                    color: var(--cx-clr-pr-1);
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 16px;
                    transition: .5s var(--cx-cube-1);
                    .icon {
                        width: 30px;
                        height: 30px;
                        background-color: var(--cx-clr-sd-1);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 6px;
                        transition: .5s var(--cx-cube-1);
                    }

                    &:hover {
                        color: var(--cx-clr-sd-1);
                    }
                }
            }

            .tab-pane {
                .cx-services-2-tabs-pane-single {
                    .icon-elm, .disc, .btn-elm {
                        animation: fadeInUp2 .5s backwards;
                    }
                    .disc {
                        animation-delay: .3s;
                    }
                    .btn-elm {
                        animation-delay: .6s;
                    }
                }
            }
        }


        &-btn {
            border-left: 1px solid rgb(0 53 25 / 24%);
            margin-top: 62px;

            .nav-item {
                overflow: hidden;

                &:not(:last-child) {
                    border-bottom: 1px solid rgb(0 53 25 / 24%);
                }
            }


            .nav-link {
                font-size: 22px;
                font-weight: 500;
                color: var(--cx-clr-p-1);
                background: transparent;
                display: flex;
                align-items: center;
                width: 100%;
                gap: 20px;
                padding: 4px 30px;
                position: relative;
                z-index: 1;
                transition: .5s var(--cx-cube-1);
                text-align: left;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 18px;
                    padding: 4px 15px;
                }

                &::after {
                    content: "";
                    inset: 0;
                    background: linear-gradient(102.81deg, rgba(0, 166, 80, 0.128) 1.35%, rgba(255, 200, 37, 0.32) 85.55%);
                    position: absolute;
                    z-index: -1;
                    transition: .5s var(--cx-cube-1);
                    opacity: 0;
                }

                .number {
                    color: var(--cx-clr-pr-1);
                    font-size: 16px;
                }

                .icon {
                    margin-left: auto;
                    color: var(--cx-clr-pr-1);
                    font-size: 60px;
                    opacity: 40%;
                    transform: translateY(25px);
                    transition: .5s var(--cx-cube-1);
                }

                &:is(.active) {
                    color: var(--cx-clr-h-2);
                    &::after {
                        opacity: 1;
                    }
                    .icon {
                        transform: translateY(80px);
                    }
                }
            }
            
        }
        
        
        
    }
    
    
}

/* 
    services-2-end
*/

/* 
    services-3-start
*/
.cx-services-3 {

    &-area {
        background-color: #F3FDF4;
    }
    
    &-sec-title {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .left {
            max-width: 500px;
        }

        .right {
            max-width: 465px;
        }

        .sec-disc {
            margin-bottom: 28px;
        }
        
    }

    &-slider {
        &-single {
            display: grid;
            gap: 32px;
            grid-template-columns: 1fr 1fr;
            background-color: #fff;
            border-radius: 20px;
            padding: 20px;
            padding-right: 32px;
            align-items: center;

            @media #{$xs} {
                grid-template-columns: 1fr;
                padding: 10px;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
                padding: 20px;
                padding-right: 32px;
            }


            .img-elm {
                border-radius: 16px;
                height: 340px;

                @media #{$xs} {
                    height: 300px;
                }

                @media #{$sm} {
                    height: 340px;
                }
            }

            .icon-x-number {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                margin-bottom: 44px;
            }

            .icon-elm {
                width: 72px;
                height: 72px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F3FDF4;
                border-radius: 12px;
            }

            .number {
                font-size: 40px;
                font-weight: 800;
                opacity: 10%;
            }

            .title {
                font-size: 20px;
                margin-bottom: 16px;
            }
            
            .disc {
                font-size: 16px;
                margin-bottom: 44px;
            }

            .btn-elm {
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                height: 50px;
                position: relative;
                z-index: 1;

                .btn-text {
                    opacity: 0;
                    transition: .5s var(--cx-cube-1);
                }

                .btn-icon {
                    width: 50px;
                    height: 50px;
                    border: 1px solid var(--cx-clr-pr-1);
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    color: var(--cx-clr-pr-1);
                    transition: .5s var(--cx-cube-1);
                    position: absolute;
                    left: 0;
                }
                
            }

            &:hover {
                .btn-elm {
                    .btn-icon {
                        left: calc(100% - 50px);
                        background-color: var(--cx-clr-pr-1);
                        color: #fff;
                    }
                    .btn-text {
                        opacity: 1;
                    }
                }
            }
        }

        .swiper-wrapper {
            .swiper-slide {
                max-width: 636px;
            }
        }
    }
    
}
/* 
    services-3-end
*/