/* 
    solutions-2-start
*/
.cx-solutions-2 {
    &-area {
        background-color: var(--cx-clr-pr-1);
        position: relative;
        z-index: 1;

        @media #{$xl,$lg,$md,$xs} {
            padding-bottom: 100px;
        }
    }

    &-bg-img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }

    &-wrap {
        position: relative;
        z-index: 1;
    }

    &-sec-title {
        text-align: center;
        font-size: 72px;
        font-weight: 700;
        color: #fff;
        letter-spacing: -1%;
        margin-bottom: -130px;
        position: relative;
        z-index: -1;


        @media #{$xxl} {
            font-size: 55px;
            margin-bottom: 0px;
        }

        @media #{$xl} {
            font-size: 50px;
            margin-bottom: 0px;
        }

        @media #{$lg} {
            font-size: 42px;
            margin-bottom: 0px;
        }
    
        @media #{$md} {
            font-size: 38px;
            margin-bottom: 0px;
        }
    
        @media #{$xs} {
            font-size: 30px;
            margin-bottom: 0px;
        }
    
        @media #{$sm} {
            font-size: 34px;
            margin-bottom: 0px;
        }
    }

    &-man-img {
        text-align: center;
    }




    &-icon-x-shape {
        text-align: center;
        position: absolute;
        bottom: 70px;
        left: 0;
        width: 100%;
        z-index: 1;

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }

        .shape-elm {
            margin-left: -63px;
            margin-bottom: -30px;
        }

        .icon-elm {
            width: 60px;
            height: 60px;
            background-color: var(--cx-clr-pr-1);
            border-radius: 50%;
            padding: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;

            &-border {
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                animation: s2icon 5s linear infinite;

                &:nth-child(2) {
                    animation-delay: 1.5s;
                }
                &:nth-child(3) {
                    animation-delay: 3s;
                }

            }
        }
    }
    

    
    &-card {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 30%;
        z-index: 2;

        @media #{$xl,$lg,$md,$xs} {
            position: unset;
            height: auto;
            gap: 30px;
            flex-wrap: wrap;
        }

        &-single {
            width: 100%;
            max-width: 250px;
            background-color: #fff;
            border: 1px solid rgb(1 17 9 / 8%);
            outline: 5px solid #fff;
            border-radius: 10px;
            text-align: center;
            position: absolute;
            bottom: 0;
            opacity: 0;
            filter: drop-shadow(-12px 20px 20px rgba(0, 0, 0, 0.32));
            transition: 1s var(--cx-cube-1);

            .icon-elm {
                width: 52px;
                height: 52px;
                background-color: var(--cx-clr-pr-1);
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: #fff;
                outline: 6px solid #fff;
                margin-bottom: 24px;
            }

            .img-elm {
                display: block;
                margin-bottom: -26px;
                height: 100px;
                border-radius: 10px;
                mix-blend-mode: luminosity;
                transition: .3s;
            }

            .content-wrap {
                padding: 22px 10px;
                padding-top: 0;
                position: relative;
                z-index: 1;
            }

            .title {
                font-size: 20px;
                margin-bottom: 10px;
                transition: .5s var(--cx-cube-1);

                &:hover {
                    color: var(--cx-clr-pr-1);
                }
            }

            .disc {
                font-size: 16px;
            }

            &:hover {
                z-index: 1;

                .img-elm  {
                    mix-blend-mode: normal;
                }
            }


            @media #{$xl,$lg,$md,$xs} {
                opacity: 1;
                position: unset;
            }
        }


        &:is(.active) {
            @media #{$over,$xxxl,$xxl} {
                .cx-solutions-2-card-single {
                    &:nth-child(1) {
                        opacity: 1;
                        transform: translate(-530px, -154px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        opacity: 1;
                        transform: translate(-440px, -304px) rotate(-14deg);
                    }
                    &:nth-child(3) {
                        opacity: 1;
                        transform: translate(500px, -154px) rotate(30deg);
                    }
                    &:nth-child(4) {
    
                        opacity: 1;
                        transform: translate(420px, -374px) rotate(14deg);
                    }
                } 
            }

        }
    }

    
}

@keyframes s2icon {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.9);
        opacity: 0;
    }
}
/* 
    solutions-2-end
*/
/* 
    solutions-3-start
*/
.cx-solutions-3 {
    &-area {
        margin-top: -80px;
        position: relative;
        z-index: 1;
    }
    &-wrap {
        padding: 20px;
        border-radius: 20px;
        background-color: #fff;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

    }
    &-card {
        text-align: center;
        border: 1px solid #EFF0EF;
        border-radius: 12px;
        padding: 40px 40px;
        transition: .5s var(--cx-cube-1);

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .icon-elm {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #F3FDF4;
            width: 80px;
            height: 80px;
            border-radius: 12px;
            margin-bottom: 40px;
            transition: .5s var(--cx-cube-1);
        }

        .title {
            font-size: 24px;
            margin-bottom: 16px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                transition: .5s var(--cx-cube-1);
                border-bottom: 1px solid transparent;
            }
        }

        .disc {
            margin-bottom: 40px;
            transition: .5s var(--cx-cube-1);
        }
        

        .btn-elm {
            width: 50px;
            height: 50px;
            border: 1px solid var(--cx-clr-pr-1);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            color: var(--cx-clr-pr-1);
            transition: .5s var(--cx-cube-1);
        }

        &:is(.active) {
            background-color: var(--cx-clr-pr-1);
            border-color: transparent;

            .icon-elm {
                background-color: #fff;
            }
            .title {
                color: #fff;


                a {
                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }

            }
            .disc {
                color: #fff;
            }

            .btn-elm {
                background-color: #fff;
                color: var(--cx-clr-pr-1);

                &:hover {
                    transform: rotate(45deg);
                }
            }
        }
    }
}
/* 
    solutions-3-end
*/